<section id="events" class="events section">
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 1,
                      "spaceBetween": 40
                    },
                    "1200": {
                      "slidesPerView": 3,
                      "spaceBetween": 1
                    }
                  }
                }
            </script>
            <div class="swiper-wrapper">

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/yummy-red-1.0.0/assets/img/events-1.jpg)">
                    <h3>Özel Etkinlikler</h3>
                    <div class="price align-self-start">₺990</div>
                    <p class="description">
                        Sizin için unutulmaz anlar yaratıyoruz! Kurumsal davetlerden lansmanlara kadar her tür özel etkinliği profesyonel ekibimizle organize ediyoruz. Hayallerinizi gerçeğe dönüştürmek için yanınızdayız.
                    </p>
                </div><!-- Etkinlik öğesi sonu -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/yummy-red-1.0.0/assets/img/events-2.jpg)">
                    <h3>Özel Partiler</h3>
                    <div class="price align-self-start">₺2890</div>
                    <p class="description">
                        İster doğum günü, ister kutlama, ister mezuniyet partisi… Eşsiz konseptlerimiz ve eğlenceli atmosferimizle sevdiklerinizle birlikte doyasıya eğlenin. Size özel parti organizasyonları için bizimle iletişime geçin!
                    </p>
                </div><!-- Etkinlik öğesi sonu -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/yummy-red-1.0.0/assets/img/events-3.jpg)">
                    <h3>Doğum Günü Kutlamaları</h3>
                    <div class="price align-self-start">₺4990</div>
                    <p class="description">
                        Her yaşa ve zevke uygun doğum günü organizasyonları ile sevdiklerinize unutulmaz sürprizler yapın. Özel süslemeler, pasta ve eğlence paketleriyle dolu dolu bir gün sizi bekliyor!
                    </p>
                </div><!-- Etkinlik öğesi sonu -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/yummy-red-1.0.0/assets/img/events-4.jpg)">
                    <h3>Düğün Organizasyonları</h3>
                    <div class="price align-self-start">₺8990</div>
                    <p class="description">
                        Hayatınızın en özel gününü kusursuz bir organizasyonla taçlandırmak ister misiniz? Şık mekanlar, lezzetli menüler ve profesyonel organizasyon ekibimizle rüya gibi bir düğün için bize ulaşın.
                    </p>
                </div><!-- Etkinlik öğesi sonu -->

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
